@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero-img{
  background-image: url('../src/assests/images/hero-img.png');
}

li .menu-button{
  @apply active:scale-110 md:px-10 px-2 rounded-xl md:py-3 py-1 duration-300 md:mx-6;
}

.active-component{
  @apply text-white bg-secondary font-semibold
}

@media (pointer:fine) { /* For pointer devices */
  li .menu-button{
    @apply hover:text-white hover:bg-tertiary 
  }
  .skill-hover{
    @apply  group-hover:visible group-hover:h-full
  }
}

@media (pointer:coarse) { /* For touchscreen devices */
  .skill-hover{
    @apply  group-active:visible group-active:h-full
  }
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}