@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero-img{
  background-image: url('../src/assests/images/hero-img.png');
}

li .menu-button{
  @apply hover:text-white touch-manipulation md:px-10 px-2 rounded-xl hover:bg-tertiary md:py-3 py-1 duration-300 md:mx-6;
}

.active-component{
  @apply text-white bg-secondary font-semibold
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-primary
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}